@ad-path: "../../img/welcome-picture.jpg";
@color-block-one-two-button: rgba(129, 179, 210, 1);
@color-basic: rgba(255, 255, 255, 1);
@color-benefits: rgba(238, 238, 238, 1);


.advantages__header {
  background-color: @color-basic;
}

.advantages__header-image {
  background: #87cefa url(@ad-path) 50% 25% no-repeat;
}

.advantages__item--number-one {
  background-color: @color-block-one-two-button;
}

.advantages__image-city {
  background-color: #ff7f50;
}

.advantages__list-recommendations {
  background-color: @color-basic;
}

.advantages__image-bridge {
  background-color: #deb887;
}

.advantages__item--number-two {
  background-color: @color-block-one-two-button;
}

.advantages__list-benefits {
  background-color: @color-benefits;
}


