

.site-list__item {
  background-color: @color-basic;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 21px;
  min-width: 98px;
}
