/*advantages*/
/*body*/
/*interest*/
/*main-header*/
/*map*/
/*global*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #E7E5E5;
  height: 100%;
}
html,
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.page__body {
  background-color: #E7E5E5;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .page__body {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.advantages__slogan {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: #000000;
}
.advantages__intro {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: #000000;
}
.advantages__header {
  outline: 2px solid #e78106;
}
.advantages__header-image {
  background: #87cefa url("../../img/welcome-picture.jpg") no-repeat center;
  height: 389px;
}
@media (min-width: 768px) {
  .advantages__header-image {
    background: #87cefa url("../../img/welcome-picture-tablet.jpg") no-repeat center;
    height: 518px;
  }
}
@media (min-width: 1280px) {
  .advantages__header-image {
    background: #87cefa url("../../img/welcome-picture-desktop.jpg") no-repeat center;
    height: 518px;
  }
}
.advantages__list {
  width: 320px;
  outline: 2px solid #e8e809;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .advantages__list {
    width: 1200px;
  }
}
.advantages__item {
  list-style: none;
  margin: 0;
}
.advantages__item--number-one {
  background-color: #81b3d2;
}
.advantages__title {
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.advantages__description {
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.advantages__title--number-one {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 33px;
  margin-bottom: 49px;
}
.advantages__description--number-one {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 40px;
}
.advantages__image-city {
  background: #ff7f50 url("../../img/city.jpg") no-repeat;
  background-size: cover;
  height: 260px;
}
.advantages__list-recommendations {
  background-color: #ffffff;
  color: #000000;
}
.advantages__list-recommendations:last-child {
  padding-bottom: 46px;
}
.advantages__title--simple {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  align-items: flex-start;
  text-align: left;
  padding-top: 32px;
  margin-bottom: 16px;
  max-width: 104px;
}
.advantages__description--simple {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  align-items: flex-start;
  text-align: left;
}
.advantages__image-bridge {
  background: #deb887 url("../../img/bridge.jpg") no-repeat;
  background-size: cover;
  height: 260px;
}
.advantages__item--number-two {
  background-color: #81b3d2;
}
.advantages__title--number-two {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 37px;
  margin-bottom: 49px;
}
.advantages__description--number-two {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 37px;
}
.advantages__list-benefits {
  background-color: #eeeeee;
  padding: 0;
}
.advantages__title--benefits {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-top: 24px;
  margin-bottom: 26px;
}
.advantages__description--benefits {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 24px;
}
.interest {
  background-color: #ffffff;
  outline: 2px solid #13f00b;
  align-items: center;
  min-height: auto;
}
.interest__title {
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-top: 38px;
  margin-bottom: 38px;
}
.interest__dates {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}
.interest__button-search {
  background-color: #81b3d2;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 284px;
  min-height: 26px;
  border: #81b3d2;
  text-decoration: none;
  padding: 16px;
  margin-bottom: 49px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .interest__button-search {
    margin-left: 250px;
  }
}
@media (min-width: 1280px) {
  .interest__button-search {
    margin-left: 450px;
  }
}
.main-container {
  width: 320px;
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    width: 1200px;
  }
}
.main-footer {
  outline: 2px solid #0059ff;
  display: block;
  min-height: px;
  width: 320px;
}
@media (min-width: 768px) {
  .main-footer {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-footer {
    width: 1200px;
  }
}
.main-footer__wrapper {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-footer__hashtag {
  margin-top: 29px;
  margin-bottom: 34px;
}
.main-footer__copyright {
  margin-top: 40px;
  margin-bottom: 23px;
}
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  outline: 2px solid #ec2308;
  width: 320px;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-header {
    width: 1200px;
  }
}
.main-header__logo-image {
  left: 50%;
  z-index: 2;
  display: block;
  /*position: absolute;*/
  margin-bottom: -42px;
  transform: translateX(-50%);
  margin-left: 159px;
}
.main-nav {
  width: auto;
  min-height: 51px;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  background-image: url("../../img/icon-menu.svg");
}
.main-nav__toggle:hover {
  background-image: url("../../img/icon-menu-hover.svg");
}
.main-nav__toggle:active {
  background-image: url("../../img/icon-menu-active-down.svg");
}
.main-nav--closed {
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
/* вот это делает список корявым но правильным, но крeстик не появляется*/
.main-nav--opened {
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #81B3D2;
  cursor: pointer;
  border: none;
}
@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--opened .main-nav__toggle {
    background-color: transparent;
    background-image: url("../../img/icon-cross.svg");
  }
  .main-nav--opened .main-nav__toggle:hover {
    opacity: 50%;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  /*display: block;*/
}
/*.main-nav__list a {
  color: #000000;
}*/
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__wrapper {
  width: 320px;
}
@media (min-width: 1280px) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .site-list {
    width: 540px;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding: 17px 108px 12px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81B3D2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  font-weight: 700;
  height: 55px;
}
.main-list__item {
  white-space: nowrap;
  text-align: center;
  width: 100%;
}
.map {
  outline: 2px solid #08eaea;
}
.map__image-map {
  background: lightskyblue url("../../img/map-mobile.jpg") no-repeat;
  background-size: cover;
  height: 350px;
  display: block;
}
@media (min-width: 768px) {
  .map__image-map {
    background: lightskyblue url("../../img/map-tablet.jpg") no-repeat;
    background-size: cover;
    height: 350px;
  }
}
@media (min-width: 1280px) {
  .map__image-map {
    background: lightskyblue url("../../img/map-desktop.jpg") no-repeat;
    background-size: cover;
    height: 350px;
  }
}
.map iframe {
  border: none;
  display: block;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #E7E5E5;
  height: 100%;
}
html,
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.page__body {
  background-color: #E7E5E5;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .page__body {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.gallery__items {
  padding: 0;
  border-bottom: 1px solid #EEEEEE;
}
@media (min-width: 768px) {
  .gallery__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .gallery__items {
    padding: 0;
  }
}
.gallery__item {
  width: 100%;
  padding-top: 22px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #EEEEEE;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 50%;
    padding: 0;
    margin-bottom: 0;
    border-top: none;
  }
}
@media (min-width: 1280px) {
  .gallery__item {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .gallery__item:nth-child(even) .gallery-card__desc {
    background-color: #FFFFFF;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(even) .gallery-card__desc {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.gallery__item--big {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__item--big {
    height: auto;
  }
  .gallery__item--big .gallery-card__image-wrapper {
    height: 400px;
  }
}
.gallery__heading {
  max-width: 560px;
  margin: 0 auto;
}
.main-container {
  width: 320px;
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    width: 1200px;
  }
}
.main-footer {
  outline: 2px solid #0059ff;
  display: block;
  min-height: px;
  width: 320px;
}
@media (min-width: 768px) {
  .main-footer {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-footer {
    width: 1200px;
  }
}
.main-footer__wrapper {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-footer__hashtag {
  margin-top: 29px;
  margin-bottom: 34px;
}
.main-footer__copyright {
  margin-top: 40px;
  margin-bottom: 23px;
}
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /*outline: 2px solid rgb(236, 35, 8);*/
  width: 320px;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-header {
    width: 1200px;
  }
}
.main-header__logo-image {
  left: 50%;
  z-index: 2;
  display: block;
  /*position: absolute;*/
  margin-bottom: -42px;
  transform: translateX(-50%);
  margin-left: 159px;
}
.main-nav {
  width: auto;
  min-height: 51px;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  background-image: url("../../img/icon-menu.svg");
}
.main-nav__toggle:hover {
  background-image: url("../../img/icon-menu-hover.svg");
}
.main-nav__toggle:active {
  background-image: url("../../img/icon-menu-active-down.svg");
}
.main-nav--closed {
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
/* вот это делает список корявым но правильным, но крeстик не появляется*/
.main-nav--opened {
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #81B3D2;
  cursor: pointer;
  border: none;
}
@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--opened .main-nav__toggle {
    background-color: transparent;
    background-image: url("../../img/icon-cross.svg");
  }
  .main-nav--opened .main-nav__toggle:hover {
    opacity: 50%;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  /*display: block;*/
}
/*.main-nav__list a {
  color: #000000;
}*/
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__wrapper {
  width: 320px;
}
@media (min-width: 1280px) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .site-list {
    width: 540px;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding: 17px 108px 12px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81B3D2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  font-weight: 700;
  height: 55px;
}
.main-list__item {
  white-space: nowrap;
  text-align: center;
  width: 100%;
}
/*advantages*/
/*body*/
/*interest*/
/*main-header*/
/*map*/
/*global*/
/*Viewports*/
/*почему то, согласно тренажеру, на мобилке ширина меньше всего на один пиксель от планшета.я сделала также как в тренажере*/
/*Colors*/
/*# sourceMappingURL=style.css.map */
